body			{ font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400; background: #eee; background-color: #eceef1; /* line-height: 1.76923076923077em; */}

.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar-default{
	background-color: #fff;
	border-color: #fff;
}

.navbar .container{
	width: 1000px;
}

.navbar .navbar-nav{
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse{
	text-align: right;
}

