{% extends "layout.html" %}
{% block content %}
	<h1 class="title">About Me</h1>
	<p>My name is John Gong and I'm a psychology amateur who interested in OCD. I sufferred from OCD when I was 16 years old. For so many years experience made me changed, 
	I want to do something for the people who sufferring OCD as well.</p>
	<p>Now if you think I'm your friend or something I can do for you, please contact with me:</p>
	<ul class="simple">
		<li>via 
			<a class="reference external" href="mailto:ocdman2@gmail.com">email</a>
		</li>
		<li>or add my WeChat account: <b>gbv1234</b> </li>
	</ul>
	<p>My usual nickname is 
		<cite>ocdman</cite>
	</p>
	<div class="section" id="about-this-website">
		<h2>About this website</h2>
		<p>I think many mental patients don't know if they have mental disorder and what kind of disorder they have.
		This website is a harbor for those who has OCD disorder. It allows people sharing their pains and experience here. 
		It teaches people the right way to face OCD.</p>
		<p>This is the original purpose I create this website.</p>
	</div>
	<div class="section" id="about-ocd">
		<h2>About OCD</h2>
		<p>OCD is a mental disorder, calls obsessive-compulsive disorder, which like any other disorders, is a normal phenomenon. More or less everyone have it. But here to the serious ones.</p>
	</div>
	<div class="section" id="imprint">
		<h2>Imprint</h2>
		<p>Imprint and contact information:</p>
		<div class="line-block">
			<div class="line">John Gong</div>
			<div class="line">Live city in Shanghai, China</div>
			<div class="line">
				Contact e-mail:
				<a class="reference external" href="mailto:ocdman2@gmail.com">ocdman2@gmail.com</a>
			</div>
		</div>
	</div>
{% endblock %}