{% extends "layout.html" %}
{% block content %}
	<div id="carousel" class="carousel inside">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
		</ol>
		
		<!-- Wrapper for Slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="fill" style="background-image: url('http://placehold.it/1900x1080&text=Slide One');"></div>
			</div>
			<div class="item">
				<div class="fill" style="background-image: url('http://placehold.it/1900x1080&text=Slide Two');"></div>
			</div>
			<div class="item">
				<div class="fill" style="background-image: url('http://placehold.it/1900x1080&text=Slide Three');"></div>
			</div>
		</div>
		
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#carousel" data-slide="next">
			<span class="icon-next"></span>
		</a>
	</div>
	<div class="index-body">
		<!--=== Slider ===-->
		<div id="layerslider" class="ls-container ls-fullwidth">
			<!-- First slide -->
			<div class="ls-inner">
				<div class="ls-slide">
					<article data-page-image="{{ url_for('static', filename='pic/4184f3.png') }}">
						<div class="l-main">
							<div class="title-container">
								<h1 class="title">强迫症是可以医治的。我们提供帮助。</h1> 
								<h2 class="subtitle">任何强迫症患者在这里都能得到有用的信息。</h2>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
		<!--=== End Slider ===-->
	</div>
{% endblock %}